/* Task 001 - textarea */
.first-task__output {
    margin: 1em 0;
}

/* Task 002 - Таблица */

.hidden {
    display: none;
}

table tr th {
    border: 2px solid grey;
    padding: 5px;
    border-radius: 4px;
    background-color: rgba(0, 0, 0, 0.02)
}

table tr th:hover {
    background-color: rgba(0, 0, 0, 0.1);
}

table tr td {
    border: 1px solid grey;
}

/* Task 003 - Перетягивание */
.block-for-mouse {
    position: relative;
    box-sizing: border-box;
    width: 200px;
    height: 200px;
    background-color: aquamarine;
    /* padding: 20px; */
    margin-top: 20px;
}

.block__inside-element {
    position: absolute;
    width: 25px;
    height: 25px;
    background-color: red;
    z-index: 5;
    left: 50%;
    top: 50%;
}