// общие
$heading__blue: #6AAFC9;
$akcent__green: #A8D488;
// не только левый, но и правый (название менять проблематично)
$left__container-bg: #F7F7F7;

// слайдер
$slider__height: 400px;

// карточки
$cards__container-height: 300px;

// посты, лента
$post__image-width: 350px; 
$post__date-width: 46px;





