body {
    margin: 0;
    padding: 0;
    font-family: 'Open Sans', 'Helvetica Neue', sans-serif;
}

header {
    box-sizing: border-box;
    height: 700px;
    background-color: #FFFFFF;
    padding-bottom: 100px;
}

nav {
    text-align: center;
    margin: 0;
}

nav a {
    display: inline-block;
    background-color: #fff;
    text-decoration: none;
    padding: 20px 20px;
    color: #828282;
}

nav a:first-of-type {
    color: #070707;
}

.line {
    width: 66%;
}

h1 {
    display: block;
    font-size: 3.5em;
    margin-left: 16.7%
}

header img {
    /* Непонятно, как сделать картинку вровень с хэдэром и 
    при этом отцентрировать её*/
    display: block;
    margin: 0px auto;
    width: 66%;
    max-height: 400px;
}

main .second-screen {
    box-sizing: border-box;
    height: 520px;
    background-color: #F6F6F6;
    margin: 0px;
    padding: 100px 0px;
}

.ash-two {
    display: block;
    text-align: center;
    font-size: 2.3em;
    color: #070707;
    margin-top: 0px;
}

main .second-screen .container {
    width: 480px;
    margin: 30px auto;
    text-align: center;
    font-size: 1.2em;
}

main .second-screen .container p {
    margin: 50px 0 0 0;
    color: #070707;
}

main .third-screen {
    box-sizing: border-box;
    height: 580px;
    background-color: #fff;
    padding: 100px 0px;
}

main .third-screen span {
    display: block;
    text-align: center;
    font-size: 1.2em;
}

main .third-screen .cards-list {
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: 10px;
}

main .third-screen .cards-list .card-item {
    text-align: center;
    width: 250px;
    background-color: #fff;
    padding: 70px 0 10px 0;
}

.cards-list .card-item span {
    display: block;
    width: 100px;
    height: 40px;
    font-family: Gilroy-Bold, sans-serif;
    font-size: 1em;
    text-align: center;
    background-color: #fff;
    margin: 1em auto;
}

.cards-list .card-item .stars {
    background-color: #fff;
    font-size: 2.5em;
    margin-top: 40px;
}

main .fourth-screen {
    box-sizing: border-box;
    height: 2240px;
    background-color: #F6F6F6;
    padding: 100px 0px;
}

main .fourth-screen img {
    display: block;
    margin: 0px auto;
}

main .fourth-screen img:nth-of-type(1) {
    margin-top: 60px;
}
