body {
    margin: 0;
    padding: 0;
    font-family: 'Open Sans', 'Helvetica Neue', sans-serif;
}

header {
    box-sizing: border-box;
    height: 700px;
    background-color: #FFFFFF;
    padding-bottom: 100px;
}

nav {
    text-align: center;
    margin: 0;
}

header nav a { /* а навигация для какой секции или блока ? Забыл добавить header */
    display: inline-block;
    background-color: #fff;
    text-decoration: none;
    padding: 20px 20px; /* Кнопки достаточно больши и удобны- Ето супер. Но между ними словами СекторГаза
     - "Этого не может быть, промежуток должен быть"  Слушать 18+ = https://www.youtube.com/watch?v=h7tz5O20ZMg */
    color: #828282;
}

nav a:first-of-type { /* Ето все круто но етот стиль 100% должен был быть по наведению */
    color: #070707;
}

.line { /* Глобальный стиль, но такой класс впринципе действительно может использоватся глобально.
Только в названии нужно маленькое уточнение.  garrison-line. Линий может быть много. */
    width: 66%; /* Но если Стиль глобальный - то такое ограничение не допустимо,
     Нужно тогда ограничевать не линию а сам блок-контент */
}

h1 { /* Глобальный стиль - Другими словами: "Все h1 на всем сайте" */
    display: block;
    font-size: 3.5em;
    margin-left: 16.7%
}

/*
header img {
    !* Непонятно, как сделать картинку вровень с хэдэром и
    при этом отцентрировать её*!
    !* Ок, Сделаю )) *!
    display: block;
    margin: 0px auto;
    width: 66%;
    max-height: 400px;
}
*/

/* Done )) */
header .header-img {
    display: block;
    margin: 0 auto;
    width: 66%;
    height: 400px;
    overflow: hidden;
}
header .header-img img {
    width: 100%;
}


main .second-screen {
    box-sizing: border-box;
    height: 520px; /* не стоит ограничивать высоту - просто потому что тебе прийдется постоянно высчитывать ее.
     Контент не займет, больше чем ему нужно */
    background-color: #F6F6F6;
    margin: 0;
    padding: 100px 0;
}

.ash-two {
    display: block;
    text-align: center;
    font-size: 2.3em;
    color: #070707;
    margin-top: 0px;
}

main .second-screen .container {
    width: 480px;
    margin: 30px auto;
    text-align: center;
    font-size: 1.2em;
}

main .second-screen .container p {
    margin: 50px 0 0 0;
    color: #070707;
}

main .third-screen {
    box-sizing: border-box;
    height: 580px; /* Повторяешься - Чаще пользуйся инспектором*/
    background-color: #fff;
    padding: 100px 0;
}

main .third-screen span {
    display: block;
    text-align: center;
    font-size: 1.2em;
}

main .third-screen .cards-list {
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: 10px;
}

main .third-screen .cards-list .card-item {
    text-align: center;
    width: 250px;
    background-color: #fff;
    padding: 70px 0 10px 0; /* Если бы была подсветка при наведении, ето былобы оправданно
    а так зряяя - у тебя есть общая обертка.
     */
}

.cards-list .card-item span {
    display: block;
    width: 100px;
    height: 40px;
    font-family: Gilroy-Bold, sans-serif;
    font-size: 1em;
    text-align: center;
    background-color: #fff;
    margin: 1em auto;
}

.cards-list .card-item .stars {
    background-color: #fff;
    font-size: 2.5em;
    margin-top: 40px;
}

main .fourth-screen {
    box-sizing: border-box;
    height: 2240px;
    background-color: #F6F6F6;
    padding: 100px 0px;
}

main .fourth-screen img {
    display: block;
    margin: 0px auto;
}

main .fourth-screen img:nth-of-type(1) {
    margin-top: 60px;
}
