.wrapper {
    max-width: 1170px;
}

.header {
    box-sizing: border-box;
    position: relative;
    padding-top: 53px;
    height: 800px;
    max-width: 1600px;


    &::before {
        content: "";
        top: 0;
        left: 0;
        position:absolute;
        z-index: -1;
        background-image: url('../img/header/mask/001.png');
        width: 100%;
        height: 100%;
    }

    &::after {        
        content: "";
        top: 0;
        left: 0;
        position:absolute;
        z-index: -2;
        width: 100%;
        height: 100%;
        background-image: linear-gradient(243.43deg, #7E5AFF 16.9%, #55B7FF 83.27%);
    }

    .nav {
        display: flex;
        justify-content: space-between;
        padding: 0 215px;
    
    
        &__links {
            display:flex;
            align-items: center;
            justify-content: flex-start;
            font-family: 'Source Sans Pro';
            max-width: 525px;
            width: 100%;
            margin-left: 89px;
            gap: 3px;
        }
    
    
        &__link {
            margin-right: 90px;
            position: relative;
            font-weight: 400;
            font-size: 14px;
    
    
    /*         &:first-of-type {
                margin-left: 14px;
            } */
    
            &:last-of-type {
                margin-right: 0;
            }
    
          
    
            &-s {
                text-decoration: none;
                color: white;
                text-transform: uppercase;
    
                &:visited {
                    color: white;
                }
    
                &::before {
                    box-sizing: border-box;
                    position: absolute;
                    content: "";
                    top: 2px;
                    left: -23px;
                    width: 9px;
                    height: 9px;
                    border-radius: 50%;
                    border: 1px solid white;
                    background-color: transparent;
                }
        
                &:hover::before {
                    background-color: white;
                }
            }
    
        }
    }




}

.social {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 160px;


    & a:hover svg path {
        fill: var(--hover-fill-icon);
    }

    & a:hover svg circle {
        fill: var(--hover-fill-circle);
    }

}

.text-content {
    display: flex;
    flex-direction: column;
    max-height: 413px;
    height: 100%;

    margin-top: 233px;
    text-align: center;
    color: white;

    &__heading {
        font-family: 'Montserrat';
        font-weight: bold;
        font-size: 80px;
        letter-spacing: 0.1em;
        text-transform: uppercase;
        margin-left: 5px;
    }

    &__paragraph {
        font-family: 'Montserrat';
        font-weight: normal;
        font-size: 18px;
        letter-spacing: 0.3em;
        text-transform: uppercase;
        margin-top: 30px;
        margin-left: 3px;
    }

    &__arrow-down {
        margin: auto auto 0 auto;

        &:hover svg path {
            fill: var(--hover-fill-icon);
        }
    
        &:hover svg circle {
            fill: var(--hover-fill-circle);
        }
    }
}



.main {
    margin-top: 135px;
}

.projects {
    max-height: 1370px;
    height: 100%;


    &__heading {
        position: relative;
        display: block;
        width: fit-content;
        margin: 0 auto;
        font-family: 'Montserrat';
        font-weight: bold;
        font-size: 44px;
        text-transform: uppercase;
        text-align: center;
        color: var(--dark-text);

        &::before {
            content: '';
            position: absolute;
            top: -36px;
            left: 112px;
            width: 100px;
            height:0px;
            border-top: 1px solid var(--dark-text);
        }
    }


    &__trade-center {
        margin-top: 94px;
        display: flex;
        height: 525px;
    }


    &__commerce-centre {
        margin-top: 142px;
        display: flex;
        justify-content: space-between;
        padding-left: 215px;
        height: 525px;
    }


}

.trade-center {


    &__left-flex-column {
        max-width: 915px;
        width: 100%;
    }
    &__relative-element {
        position: relative;
        width: 585px;
        height: 470px;
        background-color: #55B7FF;
    }
    &__img {
        position: absolute;
        top: 57px;
        left: 215px;
    }


    &__right-flex-column {
        display: flex;
        flex-direction: column;
        justify-content: flex-end;
        max-width: 457px;
        width: 100%;

    }
    &__before-heading {
        margin-bottom: 6px;

        font-family: 'Montserrat';
        font-weight: 400;
        font-size: 22px;
        color: var(--dark-text);
        text-transform: uppercase;
    }
    &__heading {
        margin-bottom: 24px;

        font-family: 'Montserrat';
        font-weight: bold;
        font-size: 44px;
        color: var(--dark-text);
        text-transform: uppercase;
    }
    &__paragraph {
        margin-bottom: 32px;

        font-family: 'Open Sans';
        font-weight: normal;
        font-size: 18px;
        line-height: 30px;
        color: var(--dark-text);
    }


    &__details {
        box-sizing: border-box;
        display: block;
        width: 190px;
        height: 50px;
        margin-bottom: 59px;
        padding-top: 17px;
        border: 1px solid black;
        text-decoration: none;
        font-family: "Montserrat";
        font-weight: normal;
        font-size: 14px;
        color:black;
        text-transform: uppercase;
        text-align: center;

    
        
        &:hover {
            background-color: var(--hover-bg-button);
        }
    }


    &__location {
        font-family: 'Open Sans';
        font-weight: normal;
        font-style: italic;
        font-size: 15px;
        color: black;
        margin-bottom: 25px;

        &-icon {
            display: inline-block;
            margin: 0 6px 0 0;
            width: 9px;
            height: 17px;
            background-image: url('../img/projects/trade-center/svg/marker.svg');
            background-repeat: no-repeat;
            background-position: bottom;
        }
    }
}

.commerce-centre {


    &__left-flex-column {
        display: flex;
        flex-direction: column;
        justify-content: flex-end;
        max-width: 480px;
        width: 100%;
    }
    &__relative-element {
        position: relative;
        width: 585px;
        height: 470px;
        background-color: #7E5AFF;
    }
    &__img {
        position: absolute;
        top: 57px;
        right: 215px;
    }


    &__right-flex-column {

        max-width: 845px;
        width: 100%;
        display: flex;
        justify-content: flex-end;

    }
    &__before-heading {
        margin-bottom: 6px;

        font-family: 'Montserrat';
        font-weight: 400;
        font-size: 22px;
        color: var(--dark-text);
        text-transform: uppercase;
    }
    &__heading {
        margin-bottom: 24px;

        font-family: 'Montserrat';
        font-weight: bold;
        font-size: 44px;
        color: var(--dark-text);
        text-transform: uppercase;
    }
    &__paragraph {
        margin-bottom: 32px;

        font-family: 'Open Sans';
        font-weight: normal;
        font-size: 18px;
        line-height: 30px;
        color: var(--dark-text);
    }


    &__details {
        box-sizing: border-box;
        display: block;
        width: 190px;
        height: 50px;
        margin-bottom: 59px;
        padding-top: 17px;
        border: 1px solid black;
        text-decoration: none;
        font-family: "Montserrat";
        font-weight: normal;
        font-size: 14px;
        color:black;
        text-transform: uppercase;
        text-align: center;

    
        
        &:hover {
            background-color: var(--hover-bg-button);
        }
    }


    &__location {
        font-family: 'Open Sans';
        font-weight: normal;
        font-style: italic;
        font-size: 15px;
        color: black;
        margin-bottom: 25px;

        &-icon {
            display: inline-block;
            margin: 0 6px 0 0;
            width: 9px;
            height: 17px;
            background-image: url('../img/projects/trade-center/svg/marker.svg');
            background-repeat: no-repeat;
            background-position: bottom;
        }
    }
}

.news {
    box-sizing: border-box;
    position: relative;
    height: 1037px;
    margin-top: 140px;
    padding-top: 172px;


    &::before {
        content: "";
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        z-index: -1;
        background-image: linear-gradient(237.1deg, #24CCFA 11.16%, #3C7FD4 89.18%);
    }
    &::after {
        content: "";
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        z-index: -1;
        background-image: url('../img/news/mask.png');
        background-repeat: no-repeat;
        background-position: bottom;
    }

    &__heading {
        position: relative;
        display: block;
        width: fit-content;
        margin: 0 auto;
        font-family: 'Montserrat';
        font-weight: bold;
        font-size: 44px;
        text-transform: uppercase;
        text-align: center;
        color: #fff;

        &::before {
            content: '';
            position: absolute;
            top: -36px;
            left: 112px;
            width: 100px;
            height:0px;
            border-top: 1px solid #fff;
        }
    }


    &__slider {
        margin: 95px auto 0 auto;
        max-width: 1170px;
        width: 100%;
        position: relative;


        &-card {
            // test
            margin: 0 15px;

            box-sizing: border-box;
            display: flex;
            flex-direction: column;

            width: 370px;
            height: 514px;
            background-color: #fff;
        }
    }
}

.slick {


    &-arrow {
        position: absolute;
        top: calc(50% - 55px);
        z-index: 10;
        font-size: 0;
        width: 40px;
        height: 40px;
        border: none;

        &:hover {
            background-color: rgba(255,255,255, 0.2);
        } 
    }
    &-prev {
        left:-100px;
        background: url(../img/news/slider/Left.svg) 0 0 / 100% no-repeat;
    }
    &-next {
        right:-100px;
        background: url(../img/news/slider/Right.svg) 0 0 / 100% no-repeat;
    }
    
    &-dots {
        margin-top: 50px;
        display: flex;
        align-items: center;
        justify-content: center;

        & li {
            list-style: none;
            margin: 0 18px;


            &.slick-active button {
                background-color: #fff;
            }
        }

        & button {
            box-sizing: border-box;
            font-size: 0;
            width: 10px;
            height: 10px; 

            border-radius: 50%;
            border:1px solid white;
            background-color: transparent;
        }
    }
}

.slider-card {
    

    &__content {
        display: flex;
        flex-direction: column;
        padding: 30px 20px;
    }

    &__heading {
        font-family: 'Montserrat';
        font-size: 22px;
        text-transform: uppercase;
        font-weight: bold;
        color: var(--dark-text);
        line-height: 26px;
    }

    &__paragraph {
        font-family: 'Open Sans';
        font-weight: normal;
        font-size: 18px;
        color: var(--dark-text);
        margin-top: 11px;
        line-height: 26px;
    }

    &__author {
        display: flex; 
        justify-content: flex-start;
        margin-top: 38px;
    }

    &__right-column {
        margin-left: 20px;
    }

    &__author-name {
        font-family: 'Montserrat';
        font-weight: normal;
        font-size: 18px;
        color: var(--dark-text);
        text-transform: uppercase;
        margin-top: 9px;
    }

    &__date {
        font-family: 'Montserrat';
        font-weight: normal;
        font-size: 14px;
        color: #55B7FF;
        margin-top: 10px;
    }


}
 

.gallery {
    margin-top: 140px;
    padding-top: 35px;


    &__heading {
        position: relative;
        display: block;
        width: fit-content;
        margin: 0 auto;
        font-family: 'Montserrat';
        font-weight: bold;
        font-size: 44px;
        text-transform: uppercase;
        text-align: center;
        color: var(--dark-text);
    }


    &__grid {
        margin-top: 95px;

        display: grid;
        padding: 0 215px;
        grid-template-columns: 1fr 1fr 1fr 1fr;
        grid-template-rows: 1fr 1fr;    
        grid-template-areas: 
        "a a b c"
        "a a d f";
        gap: 10px;
        

        & img {
            width: 100%;
            height: 100%;
        }
    }


    &__details {
        margin: 59px auto 0px auto;

        box-sizing: border-box;
        display: block;
        width: 190px;
        height: 50px;
        padding-top: 17px;
        border: 1px solid black;
        text-decoration: none;
        font-family: "Montserrat";
        font-weight: normal;
        font-size: 14px;
        color:black;
        text-transform: uppercase;
        text-align: center;

    
        
        &:hover {
            background-color: var(--hover-bg-button);
        }
    }
}

#gallery-grid- {
    &a {
        grid-area: a;
    }
    &b {
        grid-area: b;
    }
    &c {
        grid-area: c;
    }
    &d {
        grid-area: d;
    }
    &f {
        grid-area: f;
    }
}


.footer {
    margin-top: 140px;
    position: relative;

    &__map {
        height: 700px;
        width: 100%;
        background-color: rgb(230, 230, 230);
    }

    &__contacts {
        position: absolute;
        top: 400px;
        left: calc(50% - 770px / 2);

        width: 770px;
        height: 450px;
        background-color: #fff;
        z-index: 1;
    }

    &__links {
        box-sizing: border-box;
        position: relative;
        width: 100%;
        
        height: 550px;
        padding: 150px 10px 0 10px;

        &-wrapper {
            margin: 0 auto;
            max-width: 770px;
            width: 100%;

        }

        &::before {
            position: absolute;
            content: '';
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
            background-image: linear-gradient(251.06deg, #7E5AFF -2.19%, #55B7FF 103.21%);
            z-index: -1;
        }
        &::after {
            position: absolute;
            content: '';
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
            background-image: url(../img/footer/real-mask_footer.png);
            z-index: -1;
        }

        &-flex {
            display: flex;
            justify-content: space-between;

            margin-top: 53px;

        }
    }

    &__copyright {
        font-family: 'Montserrat';
        font-size: 14px;
        color: #fff;
        margin-top: 43px;
    }
}

.contacts {
    background-color: white;
    background-image: url(../img/footer/mask_footer.png);
    background-position: -29px -34px;


    .fas {
        color: #7E5AFF;
        font-size: 15px;
    }


    &__heading {
        margin: 94px auto 0 auto;

        position: relative;
        display: block;
        width: fit-content;
        font-family: 'Montserrat';
        font-weight: bold;
        font-size: 44px;
        text-transform: uppercase;
        text-align: center;
        color: var(--dark-text);


        &::before {
            content: '';
            position: absolute;
            top: -35px;
            left: 116px;
            width: 100px;
            height: 0px;
            border-top: 1px solid var(--dark-text);
        }
    }


    &__fonts {
        font-family: 'Montserrat';
        font-weight: normal;
        font-size: 18px;
        color: black;
    }


    &__input-name,
    &__input-email {
        display: block;
        box-sizing: border-box;
        width: 310px;
        height: 53px;

        background-color: transparent;
        border: none;
        font-family: 'Montserrat';
        font-weight: normal;
        font-size: 18px;
        border-bottom: 1px solid rgba(44, 64, 88, 0.2);

        &:focus {
            color: black;
            border-color: var(--dark-text);
        }

        &::placeholder {
            color: rgba(75, 85, 98, 0.5);
            font-family: 'Montserrat';
            font-weight: normal;
            font-size: 18px;
        }
    }

    &__input-name {
        margin-top: -17px;
    }
    &__input-email {
        margin-top: 21px;
    }


    &__submit {
        margin: 29px 0 0px auto;

        box-sizing: border-box;
        display: block;
        width: 140px;
        height: 50px;
        padding-top: 2px;
        border: 1px solid var(--dark-text);
        text-decoration: none;
        font-family: "Montserrat";
        font-weight: normal;
        font-size: 18px;
        color:black;
        text-transform: uppercase;
        text-align: center;
        background-color: transparent;
    
        
        &:hover {
            background-color: var(--hover-bg-button);
        }
    }


    &__flex-container {
        display: flex;
        padding: 52px 55px 0 63px;
        gap: 35px;


        &-left {
            display: grid;
            grid-template-columns: 1fr;
            grid-template-rows: 1fr 1fr 1fr 1fr;
            gap: 35px;
            
            width: 100%;
            max-width: 300px;

        }
        &-right {
            width: 100%; 
            max-width: 312px;
        }
    }
}



.valid-input {
    &, &:focus {
        border-color: rgb(30, 255, 0);
    }
}

.invalid-input {
    &, &:focus {
        border-color: red;
    }
}