@import url('https://fonts.googleapis.com/css2?family=Aleo&family=Josefin+Sans:wght@300;400;600;700&display=swap');

/* @font-face {
    font-family: ;
    src: url();
} */

:root {
    --purple: #5474fd;
}

/* ----------------------------------------------------------*/
/* --------------------- HEADER STYLING ---------------------*/
/* ----------------------------------------------------------*/

.header {
    display: flex;
    box-sizing: border-box;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    height: 100vh;
    background-image: url(../img/header/001_header_background_image.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    padding-top: 30vh;
}

.header__flex-group-wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.header__page-title {
    font-family: 'Josefin Sans', sans;
    font-weight: bold;
    font-size: 48px;
    text-transform: uppercase;
    letter-spacing: 5px;
    color: white;
}

.header__page-description {
    margin-top: 10px;
    font-family: 'Josefin Sans', sans;
    font-weight: 300;
    font-size: 22px;
    letter-spacing: 7px;
    color: white;
}

.search-bar__form {
    box-sizing: border-box;
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 650px;
    height: 60px;
    background-color: white;
    margin-top: 5vh;
    input::-webkit-input-placeholder {
        font-size: 14px;
        letter-spacing: 3px;
        color: #999999;
        font-family: "Josefin Sans", sans-serif;
        text-align: center;
    }
}

.search-bar__label {
    box-sizing: border-box;
    width: 100%;
    height: 100%;
}

.search-bar__input-search {
    width: 100%;
    height: 100%;
    border: none;
    padding: 0 116px;
}

/* Без айдишки не перебивало reset.css почему-то, поэтому пришлось нарушить БЭМ */
#header-search-bar__input-search {
    box-sizing: border-box;
}

/* ↓ не работает fill для search-bar__icon*/
.search-bar__button {
    box-sizing: border-box;
    background-color: var(--purple);
    height: 60px;
    min-width: 150px;
    font-family: 'Aleo';
    font-weight: 400;
    font-size: 14px;
    letter-spacing: 1px;
    color: white;
    border: 2px solid white;
}

/* .search-bar__icon {

} */

.header__scroll-down {
    position: relative;
    text-decoration: none;
    color: white;
    font-family: "Josefin Sans";
    font-size: 14px;
    letter-spacing: 3px;
    color: #ffffff;
    text-align: center;
}

.header__scroll-down::after {
    content:"";
    top: 20px;
    left: 47px;
    position: absolute;
    width: 9px;
    height: 9px;
    border-bottom: 1px solid white;
    border-right: 1px solid white;
    transform: rotate(45deg);
} 

/* ----------------------------------------------------------*/
/* -------------------- NAV-BAR STYLING ---------------------*/
/* ----------------------------------------------------------*/

.nav-bar {
    box-sizing: border-box;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: var(--purple);
    width: 100%;
    height: 80px;
    padding: 0 18.5%;
}

.nav-bar__logo {
    box-sizing: border-box;
    display: inline-block;
    padding: 25px 0;
    text-decoration: none;
    font-family: 'Josefin Sans';
    font-weight: 600;
    font-size: 24px;
    letter-spacing: 2px;
    color: white;
}

.nav-bar__links {
    display: flex;
    box-sizing: border-box;
}

.nav-bar__link-item {
    margin-right: 36px;
}

.nav-bar__link {
    box-sizing: border-box;
    display: inline-block;
    padding: 25px 0;
    text-decoration: none;
    font-family: 'Aleo';
    font-weight: 400;
    font-size: 14px;
    color: white;
}

.nav-bar__link-item:last-of-type {
    margin-right: 0;
}



/* ----------------------------------------------------------*/
/* ----------------- FIRST-SCREEN STYLING -------------------*/
/* ----------------------------------------------------------*/

.first-screen {
    box-sizing: border-box;
    height: 67vh;
    display: flex;
    flex: 1 1;
    justify-content: space-between;
    align-items: center;
    padding: 0 18.5%;
    background-image: url(../img/first-screen/003_first-screen_background-image.jpg)
}

.first-screen__flex-wrapper {
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    max-width: 560px;
}

.first-screen__title {
    font-family: "Aleo";
    font-weight: 400;
    font-size: 36px;
    color: #ffffff;
}

.first-screen__paragraph {
    margin-top: 6vh;
    font-family: "Josefin Sans";
    font-weight: 300;
    font-size: 16px;
    letter-spacing: 1px;
    line-height: 26px;
    color: #e8e8e8;
}

.first-screen__button {
    box-sizing: border-box;
    width: 225px;
    height: 60px;
    margin-top: 4.2vh;
    background-image: linear-gradient(45deg, #496bfe 0 40%, #5474fd 40% 100%);
    font-family: "Aleo";
    font-weight: 400;
    font-size: 16px;
    letter-spacing: 1px;
    color: #ffffff;
}

.first-screen__image-container--second {
    padding-left: 125px;
    margin-top: 5px;
}



/* ----------------------------------------------------------*/
/* -------------------- ICO-BAR STYLING ---------------------*/
/* ----------------------------------------------------------*/

.ico-bar {
    height: 33vh;
}