@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300&display=swap');

body {
    font-family: 'Poppins', sans-serif;
}

nav {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-top: 20px;
    padding: 16px 0;
}

a {
    text-decoration: none;
}

nav .nav-logo {
    width: 210px;
    height: 50px;
    padding: 0;
    margin: 0 0 0 11%;
}

nav .nav-logo a span {
    margin-left: 7px;
    color: #173A56;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: 900;
    font-size: 2.2em;
    letter-spacing: -0.08em;
}

nav .nav-logo a:visited span {
    color: #173A56;
}

nav .nav-links {
    width: 440px;
    height: 30px;
    margin-right: -20%;
    padding: 0;
}

nav .nav-links a {
    display: inline-block;
    text-decoration: none;
    color: #2F281E;
    line-height: 28px;
    font-size: 1em;
    margin-right: 30px;
    font-weight: 600;
}

nav .nav-links a:last-of-type {
    margin-right: 0px;
}

nav .nav-buttons {
    margin-right: 7%;
}

nav .nav-buttons a {
    display: inline-block;
    box-sizing: border-box;    
    text-align: center;
    font-size: 1em;
    padding: 8px 0;
    border: 1px solid #BCD0E5;
    border-radius: 5%;
}

/* Ниже находится пример того как НЕ нужно выбирать конкретные элементы.
Нужно делать это через более специфический селектор, который не сломает вёрстку
если поменять кнопки(ссылки) местами. Но т.к. сейчас это часть учебного проекта, 
то в этот раз я использую правило "работает - не трогай" */

nav .nav-buttons a:first-of-type {
    width: 102px;
    height: 46px;
    color: #173A56;
}

nav .nav-buttons a:nth-of-type(2) {
    width:110px;
    height: 46px;
    background-color: #FF9900;
    color: #fff;
}

header {
    display: flex;
    justify-content: space-evenly;
    margin-top: 30px;
    margin-bottom: 110px;
}

header .header-section-one {
    width: 37%;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

header .header-section-one h1 {
    font-size: 3em;
    line-height: 54px;
}

header .header-section-one p {
    font-size: 1.3em;
}

header .header-section-one .header-button-wrapper {
    display: flex;
    align-items: center;
    margin-top: 45px;
    padding: 0;
}

header .header-section-one .header-button-wrapper .get-started-button {
    display: block;
    box-sizing: border-box;
    width: 175px;
    height: 53px;
    padding: 14px 0;
    background-color: #FF9900;
    color: #fff;
    font-weight: bold;
    text-align: center;
}

header .header-section-one .header-button-wrapper .watch-video-button {
    display: block;
    box-sizing: border-box;
    width: 161px;
    height: 23px;
    margin-left: 25px;
    font-weight: bolder;
    text-decoration: underline;
    color: #FF9900;
}

header .header-section-one .header-button-wrapper .watch-video-button svg {
    margin-right: 8px;
    vertical-align:text-top;
}

header .header-section-two {
    width: 43%
}

main .feature h2 {
    display: block;
    width: 540px;
    margin: 0 auto 55px auto;
    text-align: center;
    font-size: 2.25em;
    font-weight: bold;
}

main .feature .card-list {
    display: flex;
    justify-content: space-evenly;
    margin-bottom: 30px;
}

main .feature .card-list .card-item {
    width: 240px;
    height: 178px;
}

main .feature .card-list .card-item:last-of-type {
    height: 204px;
}

main .feature .feature-button {
    display: block;
    box-sizing: border-box;
    width: 175px;
    height: 53px;
    padding: 14px 0;
    margin: 0 auto 90px auto;
    background-color: #FF9900;
    color: #fff;
    font-weight: bolder;
    text-transform: uppercase;
    text-align: center;
}

.second-screen {
    display: flex;
    justify-content: space-evenly;
}

.second-screen-wrapper {
    width: 486px;
}

.third-screen {
    display: flex;
    justify-content: space-evenly;
}

.third-screen-wrapper {
    width: 486px;
}

.third-screen .third-screen-wrapper .wrapper-checkbox svg {
    display: inline-block;
    vertical-align: center;
    margin: 0;
}

.third-screen .third-screen-wrapper .wrapper-checkbox p {
    display: inline-block;
    max-width: 445px;
    margin: 0, 0, 30px, 0;
    vertical-align: center;
}